<h1 mat-dialog-title>Create Order</h1>
<div mat-dialog-content>
    <p>Select Shipping Date</p>
    <mat-form-field appearance="fill">
        <mat-label>Selected Shipping Date</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="filterOldDays" [(ngModel)]="data.deliveryDate" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-action>
    <button mat-button (click)="Cancel()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.deliveryDate"  cdkFocusInitial>Create</button>
</div>
